extends ../../views/_base

block header
	include ../../views/_header.html
block content
	include ../../views/_javi-cv

	div.text-center.separator
		a(href='_ROOTfiles/jacv.pdf')
			h2.title Download as Pdf