extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
//block nav
	include /partials/_ba.nav.jade
block content
	include /_javi-cv

	div.text-center.separator
		h2.title Download
		div
			a(href=root('files/cv-javier-arancibia.pdf')) pdf
		div
			a(href=root('files/cv-javier-arancibia.jpg')) jpg
block footer
	include /partials/_ba.footer.jade


