extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content
	div.text-left.separator
		h2.title !{lang('SECTION_WORKS')} 
		h4.subtitle.separator
			| Code, test and deploy.
		include /_works.jade
block footer
	include /partials/_ba.footer.jade


