extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content
	div.intro

	div.text-center
		h2.title Meetfood
		h4.subtitle Eat and meet people

		ul.social
			li introducing to you as a
			li web app
			//li www.getabiker.com
			//li late summer 2017

	div.text-left.separator
		h2.title Description
		div
			p.
				Meetfood is a free entertainment tool in which you organize or join meetups to cook with random people. Every person brings ingredients for coocking and beginners could always bring some drinks or snacks.
	div.text-left.separator
		h2.title Why
		div
			p
				|In the actuality you can found web apps that solve the posibility of organize food events with a price where there is a host who 'sell' his home-made recipes and guests who pay one price for all the event. What if you just want to share you recipe and taste another one and the same time and/or just meet people without any kind of money exchange. Easy, thats exactly why meetfood should be born.

	div.text-left.separator
		h2.title How
		div
			p.
				Meetfood consist in one web application in which the user sign-in and can start creating or joining existing events. The event configuration is the master peace of the app allowing the user to establish event rules from the number of invitations availables to rules such as 'only vegan food' or 'women meetup'. There will be a lot of rules and options divided in 'food and people' covering all aspects of the meeting. All this optional configuration will make the app pretty flexible and useful to solve any organizational subject.

		h3.title Technologies proposed
		div.list
			div.list.child
				|- Reactjs & Redux frameworks.
			div.list.child
				|- Parse framework
			div.list.child
				|- Google Firebase framework

	

	div.text-left.separator
		h2.title Essence
		div
			p
				b People enjoy and has the needs of meeting new people. Humans are social animals.
				br
				b People loves eat. People who doesn't, is lying.
				br
				|I'm pretty sure we can combine these two facts, with money aside, and make thing like this happens.

	div.text-left.separator
		h3.title Get involved
		div.list
			div.list.child
				a(href='https://mail.google.com/mail/?view=cm&fs=1&to=arancibiajav@gmail.com',target='blank')
					|email me
			div.list.child
				a.twitter-share-button(href="https://twitter.com/share",data-url="http://misitioba/meetfood/",data-text="Check out this app idea that is rising",data-via="javimosch",data-hashtags="meetfood")
			
			script()
				|//twitter sdk
				|!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	div.text-left.separator
		h3.title Status
		div.list
			div.list.child
				|- sketching
			div.list.child
				|- interviewing
			div.list.child
				|- collecting info
block footer
	include /partials/_ba.footer.jade






