extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content
	div.intro

	div.text-center
		h2.title Servicity
		h4.subtitle diversify opportunities, think smarter no harder

		ul.social
			li introducing to you as a
			li web site

	div.text-left.separator
		h2.title Description
		div
			p.
				Servicity pretends to be a web platform to connect freelance workers and jobbers with buyers.
				Occasional work needs to be fast dispatched and we are aware of that.
	div.text-left.separator
		h2.title Why
		div
			p.
				There is a lot of freelance job searching websites around the web. Most of them have pretty old school approaches and they are alredy crowded, doing the task to find a person to contract you almost impossible between too many offers.
			p.
				Servicity fulfill a place dividing reponsabilities between the jobber and the buyer, brinding fresh ideas into work.
	div.text-left.separator
		h2.title How
		div
			h4 Freelance worker & jobber
			p.
				Create and account and fill a list of servicies your provide. Putting price and features. Wait to be called by a buyer. When this happens, feel free to arrenge the terms using the chat or any way of contact that you want. If both the buyer and you accepts the terms, inform the website that you are in the working phase. When you finish to provide the service, inform the website that the job is done and get ready to get a review and earn points that you can expend to highlight over others jobbers. 
			h4 Buyers
			div.list
				div.list.child
					p.
						Accept the browser geolocalization and start to see the jobbers near your area in your city. Filtre them using smart tags and connect with them with a few clicks.
			h4 Concept and uses cases
			div.text-left.list
				div.list.child
					p Some examples of casual/freelance services you can provide here
					div.list
						div.list.child
							|- walk the dog
						div.list.child
							|- shopping for people
						div.list.child
							|- casual courier
						div.list.child
							|- casual meals for busy people
						div.list.child
							|- house search for busy people who want to rent
						div.list.child
							|- casual foreign language practices 
						div.list.child
							|- web design
						div.list.child
							|- web programming
						div.list.child
							|- IT consulting
						div.list.child
							|- Interior design consulting
						div.list.child
							|- a large etc.


	div.text-left.separator
		h2.title Essence
		div
			p.
				People may have a lot to offer or demand. Somethings are simples, somethings not. Why not to stack all the simples ones in a place, with easy interaction and fast peace. You will be wondering why, god why, an idea like this takes so long to become real.

	div.text-left.separator
		h3.title Get involved
		div.list
			div.list.child
				a(href='https://mail.google.com/mail/?view=cm&fs=1&to=arancibiajav@gmail.com',target='blank')
					|email me
			div.list.child
				a.twitter-share-button(href="https://twitter.com/share",data-url="http://misitioba/meetfood/",data-text="Check out this app idea that is rising",data-via="javimosch",data-hashtags="meetfood")
			
			script()
				|//twitter sdk
				|!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	

	div.text-left.separator
		h3.title Status
		div.list
			div.list.child
				|- sketching
			div.list.child
				|- interviewing in march
			div.list.child
				|- collecting info

block footer
	include /partials/_ba.footer.jade





