extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content
	div.text-left.separator
		h2.title PROJECTS 
		h4.subtitle.separator {PAGE_SUBTITLE} 
		//A personal space to develop creativity.
		
		include ../views/_projects.jade
block footer
	include /partials/_ba.footer.jade

