html
	head
		include _head
	body.white
		header
			block header
		nav
			block nav
		div.container
			block content
		footer
			block footer

		script(src=self.root+'app.static.js', type='text/javascript')
		block scripts
		
		
		div.container-fluid.center-block.text-center
			h4
				a(href='https://mail.google.com/mail/?view=cm&fs=1&to=ja@misitioba.com',target='blank')
					| !{lang('GET_IN_TOUCH')}

			include _footer.html