div.text-center.separator
	h1.title MISITIOBA 
	h4.subtitle.separator
		| A personal space to develop creativity

	include _slider.html

	div.text-center
	

	a.button-black(href='projects') 
		div PROJECTS

	a.button-black(href='blog') 
		div BLOG
	
	a.button-black(href='javierarancibia') 
		div ABOUT

	