div.row
	div.col-md-12
		div.text-center
			img(src=root('img/logo.white.jpg')).logo.width10p
			h2.title Hello there,
				br
				|I'm Javier Arancibia,
			h4.subtitle an independent software developer.

		div.text-left
			ul.articles
				li.article
					h3.title.
						In the present (2016), I'm working-solo at Paris, to delivering high-quality web sites as well as for doing IT consulting for local enterprendeurs. I'm always looking to connect with new people for achieve things together.
				li.article
					a.button-black(href=root('javierarancibia')) 
						div MORE

		//include /_works
		//include /_projects