ul.items
	li.item
		a(href=self.root+'projects/getabiker',taget='blank').title
			|GetABiker
		|&nbsp;(Web and mobile app) 
		div
			|Diliver stuff in your city in meter of hours/minutes using an available biker who want to make some extra money. 
	li.item
		a(href=self.root+'projects/meetfood',taget='blank').title
			|MeetFood
		|&nbsp;(Web) 
		div
			|Organize or join to food events where all attendants will cook together, meet each other and have a good time.
	li.item
		a(href=self.root+'projects/velopostale',taget='blank').title
			|Velopostale
		|&nbsp;(Web) 
		div
			|To improve and existing company portal through new technologies and tools. To help them boosting up with their company vision.
	li.item
		a(href=self.root+'projects/servicity',taget='blank').title
			|Servicity
		|&nbsp;(Web) 
		div.
			Make the dream of all jobbers come truth. A web platform to find & provide very casual jobs.