ul.items
	li.item
		a(href='http://colorbotanico.com/#/',taget='blank').title
			|Color Botanico
		|&nbsp;(Web) 
		div
			|3 Stars Hotel in Palermo, Buenos Aires, Argentina.
		a(href='https://github.com/Quadramma/color-botanico',target='blank')
			|source
	li.item
		a(href='http://www.gailuminacion.com/',target='blank').title
			|GAIluminacion
		|&nbsp;(Web)
		div
			|Import & Export of Lights devices.
		a(href='https://github.com/Quadramma/Site.GAIluminacion',target='blank')
			|source
	li.item
		a(href='https://www.clearfilm.com/',taget='blank').title
			|Clear Film
		|&nbsp;(Web)
		div
			|Auto Paint Protection film and personalization. In the beginning was a 'scroll parallax site'.
	li.item
		a(href='https://github.com/Quadramma/Site.Colpermin',target='blank').title
			|Colpermin IBS
		|&nbsp;(Android)
		div
			|Presentation mobile app for tablets.
	li.item
		a(href='https://github.com/Quadramma/Neutrogena',target='blank').title
			|Neutrogena
		|&nbsp;(Android)
		div
			|Presentation mobile app for tablets.
	li.item
		a(href='https://github.com/Quadramma/Winter',target='blank').title
			|Winter Meds
		|&nbsp;(Android)
		div
			|Presentation mobile app for tablets. Winter Meds Aids 2014.