//https://placeholdit.imgix.net/~text?txtsize=33&txt=340%C3%97280&w=340&h=280

div.row.works
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="diags-logo.jpg").img-responsive
			div.caption.item.center-block.small
				a(href=root('/works/diag-project'),target='blank').title
					b Diags Project
				div Utility
				div {FEBRUARY} 2016.
				div Web App / Platform.

	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="aldgate-logo.jpg").img-responsive
			div.caption.item.center-block.small
				a(href='http://www.misitioba.com/sites/aldate',target='blank').title
					b Aldgate
				div Lawyers & Finance.
				div {DECEMBER} 2015.
				div Web.
				div 
					a(href='https://github.com/Quadramma/color-botanico',target='blank') source
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="oscarculari-logo.png").img-responsive
			div.caption.item.center-block.small
				a(href='http://www.misitioba.com/sites/oscarculari',target='blank').title
					b Oscar Culari
				div Lawyer personal website.
				div {NOVEMBER} 2015
				div Web
				div 
					a(href='https://github.com/Quadramma/color-botanico',target='blank') source
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="colorbotanico-logo.png").img-responsive
			div.caption.item.small
				a(href='http://colorbotanico.com/#/',target='blank').title
					b Color Botanico
				div 3 Stars Hotel in Palermo, Buenos Aires, Argentina.
				div {JANUARY} 2015
				div Web
				div 
					a(href='https://github.com/Quadramma/color-botanico',target='blank') source
div.row.works
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="ga-logo.gif").img-responsive
			div.caption.item.small
				a(href='http://www.gailuminacion.com/',target='blank').title
					b GAIluminacion
				div Import & Export of Lights devices.
				div {NOVEMBER} 2015
				div Web
				div 
					a(href='https://github.com/Quadramma/Site.GAIluminacion',target='blank') source

	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="clearfilms-logo.jpg").img-responsive
			div.caption.item.small
				a(href='https://www.clearfilm.com/',target='blank').title
					b Clear Film
				div Auto Paint Protection film and personalization. In the beginning was a 'scroll parallax site'.
				div {JUNE} 2014
				div Web
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="colpermin-logo.png").img-responsive
			div.caption.item.small
				a(href='https://github.com/Quadramma/Site.Colpermin',target='blank').title
					b Colpermin IBS
				div Presentation mobile app for tablets.
				div {JUNE} 2014
				div Web
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="neutrogena-logo.png").img-responsive
			div.caption.item.small
				a(href='https://github.com/Quadramma/Neutrogena',target='blank').title
					b Neutrogena
				div Presentation mobile app for tablets.
				div {JUNE} 2014.
				div Android.
div.row.works
	div.col-sm4.col-md-3.col-xs-6
		div.thumbnail
			div.img-wrapper
				img(src="wintermeds-logo.jpg").img-responsive
			div.caption.item.small
				a(href='https://github.com/Quadramma/Winter',target='blank').title
					b Winter Meds
				div Presentation mobile app for tablets.
				div {NOVEMBER} 2014.
				div Android.
//ul.items
	li.item.small
		a(href='https://github.com/Quadramma/Winter',target='blank').title
			b Winter Meds
		div Presentation mobile app for tablets. Winter Meds Aids 2014.
		div Android.
