extends /_base


block header
	include /_header.html
block content
	div.text-center.separator
		h2.title Tools 
		h4.subtitle.separator
			| A personal space to develop creativity
		
		ul.items
			li.item
				a(href=self.root+'projects/matools',taget='blank').title
					|maTools
				|&nbsp;(Web) 
				div.
					A bunch of small tools and utilities to make life easy to the soft dev.
