
output{
	margin:0px;
	padding:0px;
	    outline: 1px solid rgba(0, 0, 0, 0.1);
}

.ba-form-sm{
    max-width: 320px;
}


.ba-grid-connect{
    background: url(img/sc.background-people.jpg) no-repeat;
    background-size: cover;
}


.ba-grid-languages{
	position: absolute;
	right: 10px;
	top: 19px;
}