extends ../views/_base

block header
	include ../views/_header.html
block content

	div.text-center.separator
		h2.title !{lang('SECTION_SERVICES')} 
		//h4.subtitle.separator
			| Freelance
		
		div.page-header
			h1 Web site developement
				small Yahoo!
		div.page-header
			h1  Bike Delivery
				small Really?!
		//
			div.page-header
				h1 Web design
					small Yahoo!
			div.page-header
				h1  Bike Delivery
					small Really?!
			div.page-header
				h1 IT consultant
					small Nice!
			div.page-header
				h1 Custom Programming
					small Creazy!
			div.page-header
				h1 CRM consultant
					small That's something!
			div.page-header
				h1 ERP Reseller
					small Holy sh&%!