extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content

	div.text-left.separator
		h2.title !{lang('SECTION_SERVICES')} 
		//h4.subtitle.separator
			| Freelance

		output.
			<div class="row">
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=340%C3%97280&w=340&h=280" alt="..." class="img-responsive">
			      <div class="caption">
			        <h3>Website programming</h3>
			        <p>...</p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=340%C3%97280&w=340&h=280" alt="..." class="img-responsive">
			      <div class="caption">
			        <h3>SEO Website Audit</h3>
			        <p>...</p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			  </div>
			  <div class="col-sm-6 col-md-4">
			    <div class="thumbnail">
			      <img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=340%C3%97280&w=340&h=280" alt="..." class="img-responsive">
			      <div class="caption">
			        <h3>Newslatter</h3>
			        <p>...</p>
			        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			      </div>
			    </div>
			  </div>
			</div>
		
		div.page-header
			h1 Web site developement
				small Yahoo!
		div.page-header
			h1  Bike Delivery
				small Really?!
		//
			div.page-header
				h1 Web design
					small Yahoo!
			div.page-header
				h1  Bike Delivery
					small Really?!
			div.page-header
				h1 IT consultant
					small Nice!
			div.page-header
				h1 Custom Programming
					small Creazy!
			div.page-header
				h1 CRM consultant
					small That's something!
			div.page-header
				h1 ERP Reseller
					small Holy sh&%!
block footer
	include /partials/_ba.footer.jade


