extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block header-bottom
	output.hidden-xs
		include /_slider.html
block content
	include /_home.jade
block footer
	include /partials/_ba.footer.jade



