extends ../../views/_base

block header
	include ../../views/_header.html
block content

	div.intro
		div.text-center
			h2.title Acrocs
			h4.subtitle Discover new restaurants | Share your opinion
			

			ul.social
				li introducing to you as a
				li web 

		div.text-left.separator
			h2.title Description
			div
				p.
					Acrocs is a gastronomic blog where you can find excellents reviews about lots of 'must taste' restaurants around differents corners of Paris.
		div.text-left.separator
			h2.title Why
			div
				p.
					There are several blogs and web site specialized in gastronomy and even focused in Paris. When you are looking for reviews written by passionated people you can only list a few. The author of this blog hundred of restaurants over the last years and she is doing it for pleasure. 

		div.text-left.separator
			h2.title How
			div
				p.
					A gastronomic blog where you can examine specialized reviews.
					You are able to like or dislike a review as well as commenting.
					You have a way to contact the author at any time and you can even send personal reviews to be published on the blog. 

		div.text-left.separator
			h2.title Essence
			div
				p.
					Its time to discover new options to eat in Paris, not just the turistic side of paris but to inmerse in the culture an examine small restaurants dispersed in hidden corners of the city. You will find not only the best local dishes but really accesible prices.

		div.text-left.separator
			h3.title Get involved
			div.list
				div.list.child
					a(href='https://mail.google.com/mail/?view=cm&fs=1&to=arancibiajav@gmail.com',target='blank')
						|email me
				div.list.child
					a.twitter-share-button(href="https://twitter.com/share",data-url="http://misitioba/getabiker/",data-text="Check out this app idea that is rising",data-via="javimosch",data-hashtags="getabiker")
				
				script()
					|//twitter sdk
					|!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

		div.text-left.separator
			h3.title Status
			div.list
				div.list.child
					|- sketching
				div.list.child
					|- interviewing
				div.list.child
					|- collecting info
		
		div.text-left.separator
			h3.title Demo
			div.list
				div.list.child
					a(href="./demo")
						| Link

