extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content
	div.intro
	
	div.text-center
		h2.title Velopostale
		h4.subtitle Racing spirit meets courier service

		ul.social
			li introducing to you as a
			li web site

	div.text-left.separator
		h2.title Description
		div
			p.
				Velopostale is an existing web site dedicated to courier service in metropolitan Paris. The idea behind this project is to update the web site to modern times and propose new features to the backoffice as gps tracking of the deliveries or intuitive online orders for the clients.
	div.text-left.separator
		h2.title Why
		div
			p
				|I found the actual web site lacks in visual design, technology and SEO. Is getting older and everyboy can notice. A new look and feel with the posibility to see new features in action could be really interesting. Bike courier services are in a slow growing market in Paris and with a few options in the city is better to take care of there aspects.

	div.text-left.separator
		h2.title How
		div
			p.
				Velopostale alredy have a back office implementation made in language php. The first steps would be to remade all the front-end of the web site with a new look and feel, and a new identity when possibile. A second step would be to evaluate if the back office is ok for adding new features or if is better to remade it for better usability.
				The technology proposed to developing is AngularJS and NodeJS, both are being used in the last years for big companies because they have several adventages over classic php. For Search Engine Optimization, the frontend can be developed using Static site generators frameworks (bledding-edge technology).


	div.text-left.separator
		h2.title Essence
		div
			p.
				Seems like Velopostale is doing a very nice job over the last years and they seems to have a clear company vision, providing a courier service eco-frendly fast and economic along with a custom client relationship in a frendly enviroment. Would be awesome to add the technology factor to boost up the startup vision.

	div.text-left.separator
		h3.title Get involved
		div.list
			div.list.child
				a(href='https://mail.google.com/mail/?view=cm&fs=1&to=arancibiajav@gmail.com',target='blank')
					|email me
			div.list.child
				a.twitter-share-button(href="https://twitter.com/share",data-url="http://misitioba/meetfood/",data-text="Check out this app idea that is rising",data-via="javimosch",data-hashtags="meetfood")
			
			script()
				|//twitter sdk
				|!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

	div.text-left.separator
		h3.title Links
		div.list
			div.list.child
				a(href="http://www.parisvelopostale.com/index.html#",target="_blank")
					|- velopostale
			div.list.child
				a(href="#",target="_blank")
					|- velopostale new concept

	div.text-left
		h3.title Location
	div.text-center.separator
		iframe(src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10497.711088434346!2d2.3606031475463807!3d48.86912125464994!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e0efa66f547%3A0xfb60bb4b0ecf17d5!2sParisV%C3%A9lopostale!5e0!3m2!1sen!2sus!4v1453631258444",width="350",height="263",frameborder="0",style="border:0" allowfullscreen)

	div.text-left.separator
		h3.title Status
		div.list
			div.list.child
				|- sketching
			div.list.child
				|- interviewing in february
			div.list.child
				|- collecting info
block footer
	include /partials/_ba.footer.jade


