extends /layouts/_base.misitioba.static

block header
	include /partials/_ba.header.jade
block nav
	include /partials/_ba.nav.jade
block content
	div.text-left
		h2.title BLOG
		h4.subtitle !{lang('USER_EXISTS')}

	div.text-left
		ul.articles
			li.article
				h3.title
					|Quote of the day
				p.
					<em>
						'The world is a book and if you do not travel, you read only one page.'
					</em>


			include _latest-posts
block footer
	include /partials/_ba.footer.jade

