html
	head
		include ../_head
	body.white.ba
		header
			block header
			nav
				block nav
			block header-bottom
		div.container.main
			block content
		footer
			block footer

		script(src=self.root+'vendor.static.js', type='text/javascript')
		script(src=self.root+'app.static.js', type='text/javascript')
		script.
			$(function() {
				$('a.smooth[href*="#"]:not([href="#"])').click(function() {
					if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
						var target = $(this.hash);
						target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
						if (target.length) {
							$('html, body').animate({
							scrollTop: target.offset().top
							}, 1000);
							return false;
						}
					}
				});
			});
		block scripts
